.cardContainer {
  width: 309px;
  margin: 160px auto 0 auto;
  margin-top: 200px;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  padding: 8px 0;
  position: relative;
  z-index: 2; /* 배경 위로 올라오도록 */
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}

.iconWithText {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.arrow {
  color: #aaa;
  font-size: 16px;
}

.divider {
  height: 1px;
  background-color: #eee;
  margin: 0 24px;
}
